@charset "utf-8";
/* CSS Document */


/*testimony*/

.testimony_grid{
	width: 10%;
	height: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	text-align: left
}
.testimony_item{
	width: 95%;
	margin: 0 auto;
	background: var(--color-secundary);
	box-shadow: 0 8px 10px rgba(66,66,66, .5);
	border-radius: 7px;
	padding: 30px 25px;
	color: #fff;
	margin-bottom: 50px;
}

.testimony_person{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.testimony_img{
	width: 200px;
	min-width: 100px;
	height: 200px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	border: 3px solid #fff;
	margin-right: 30px;
}

.testimony_name{
	font-size: 1.5rem;
	margin-bottom: 10px;
	color: #EB4E8D;
}

.testimony_verication{
	color: #010A26;
	font-weight: 300;
}


.boto {
  background-color: blue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.boto {
  background-color: red;
}